button {
    display: inline-block;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4a154b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5c1e5c;
}

.slack-logo {
    width: 40px;
    height: 40px;
    margin-left: -10%;
    vertical-align: middle;
}

.contact-modal {
    background-color: #fff;
    padding: 20px;
}

