button {
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4a154b;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5c1e5c;
}

input[type='submit'] {
  border: 1px solid rgb(19, 35, 34);
  font-family: AeonikFono;
  font-weight: 400;
  font-size: 16px;
  text-shadow: none;
  line-height: 20px;
  background-color: rgb(19, 35, 34);
  background-image: none;
  border-radius: 25px !important;
  color: rgb(255, 255, 255);
}

input[type='submit']:hover {
  background-color: rgb(255, 205, 72);
  background-image: none;
  color: rgb(19, 35, 34);
}

input[type='text'],
input[type='email'] {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  /* width: 100% !important; */
  padding: 16px !important;
}

.slack-logo {
  width: 40px;
  height: 40px;
  margin-left: -10%;
  vertical-align: middle;
}

.modal-container {
  display: flex;
  background-color: var(--yellow-200);
}

.modal-form {
  padding: 3rem;
}

.modal-text {
  padding: 3rem;
  max-height: 400px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .modal-container {
    display: block;
  }
}
